body {
  background-image: url(https://images.all-free-download.com/images/graphiclarge/weather_background_cute_stylized_icons_decor_6835599.jpg);
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box{
  border: 3px solid white; 
  padding: 50px;
  border-radius: 50px;
  background-color: white;
}

.selected {
  background-color: rgb(98, 197, 231) !important;
  color: white !important;
}

.error-message {
  color: blue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.weather-container {
 margin-bottom: 20px;
}

.weather-button {
  margin-right: 2px;
}

@media (min-width: 768px) {
  .button-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
  }
}
@media (max-width: 768px) {
  .button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .weather-button {
    width: 150px;
    margin-top: 5px;
  }
}